<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:utext="${title}"></title>
</head>

<style>
      table th, table td {
         padding: 5px;
      }
      .message {
         color: blue;
      }
   </style>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Members</h2>



<table border="1">
  <tr>
    <h1>User Name</h1>
  </tr>
  <tr th:each ="member : ${members}">
    <td th:text="${member.userName}"></td>

  </tr>
</table>

</body>
</html>