<div th:fragment="header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a href="/welcome"><img src="img/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


        <div class="d-flex" role="search">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/news">Blog</a>
            </li>
            <li class="nav-item">
              <a th:if="${#request.userPrincipal == null}"
                      class="nav-link active" aria-current="page" href="/register">Sign up</a>
            </li>
            <li class="nav-item">
              <a th:if="${#request.userPrincipal == null}"
                      class="nav-link active" aria-current="page" href="/login">Log in</a>
            </li>
            <li class="nav-item">
              <a  sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"
                 th:href="@{/logout}" class="nav-link active">Logout</a>
            </li>
            <li class="nav-item">

              <a sec:authorize="hasAnyRole('ROLE_ADMIN')" class="nav-link" href="/members">view members</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" href="/userInfo" class="nav-link" >My Account</a>
            </li>
          </ul>
        </div>

    </div>
  </nav>
</div>